/* <!-- ============== Top Bar ============== --> */
@media(max-width: 991px) {
    .find_out_btn .nav-link {
        padding: 10px 23px;
        margin-left: 20px;
    }

    .season_header h1 {
       font-size: 30px;
    }
     

    .bg_paralax {
        background-size: 140%;
    }
}

@media(max-width: 767px) {

    .topbar .container {
        font-size: 12px;
        justify-content: center !important;
    }

    .navbar-brand {
        width: 45%;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .navbar-nav {
        text-align: center;

    }

    .dropdown,
    .dropdown-center,
    .dropend,
    .dropstart,
    .dropup,
    .dropup-center {
        text-align: center;
        margin-bottom: 10px;
    }

    .hero h1 {

        font-size: 25px;
        line-height: 45px;
    }

    .season {
        padding: 30px 15px;
    }

    .seasonal_content p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding-top: 20px;
    }

    .seasonal_part {
        padding: 30px 15px;
    }
    .seasonal_content{
        text-align: center;
    }

    .seasonal_content .kalender_btn {
        text-align: center;
    }

    .season_header h1 {
        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }

    .season_text p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    .bg_paralax {
        background-image: url(../images/autumn\ season.webp);
        min-height: 200px;
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .spring_season_text_bg {
        padding: 20px;
    }

    .footer_part .container {
        display: block !important;
    }

    .footer_part p {
        text-align: center;
    }

    .social_icon_bottom {

        justify-content: center;
        margin-top: 20px;
    }
}

@media(max-width: 425px) {

    .topbar .contact-info a {
        font-size: 12px;
    }

    .navbar-brand {
        width: 55%;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .navbar-nav {
        text-align: center;

    }

    .dropdown,
    .dropdown-center,
    .dropend,
    .dropstart,
    .dropup,
    .dropup-center {
        text-align: center;
        margin-bottom: 10px;
    }

    .hero h1 {

        font-size: 25px;
        line-height: 45px;
    }

    .season {
        padding: 30px 15px;
    }

    .seasonal_content p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding-top: 20px;
    }

    .seasonal_part {
        padding: 30px 15px;
    }

    .kalender_btn a {
        text-align: center;
    }

    .season_header h1 {
        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }

    .season_text p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    .bg_paralax {
        background-image: url(../images/autumn\ season.webp);
        min-height: 200px;
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .spring_season_text_bg {
        padding: 20px;
    }

    .footer_part .container {
        display: block !important;
    }

    .footer_part p {
        text-align: center;
    }

    .social_icon_bottom {

        justify-content: center;
        margin-top: 20px;
    }
}